/* Fonts */
@font-face {
    font-family: 'KotoFoto-Elements';
    src: url('fonts/kotofoto-elements.eot?47551667');
    src: url('fonts/kotofoto-elements.eot?47551667#iefix') format('embedded-opentype'),
    url('fonts/kotofoto-elements.woff?47551667') format('woff'),
    url('fonts/kotofoto-elements.ttf?47551667') format('truetype'),
    url('fonts/kotofoto-elements.svg?47551667#kotofoto-elements') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'als_rublregular';
    src: url('fonts/rouble-webfont.eot');
    src: url('fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rouble-webfont.woff') format('woff'),
         url('fonts/rouble-webfont.ttf') format('truetype'),
         url('fonts/rouble-webfont.svg#als_rublregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "KotoFoto-Elements";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-apple:before { content: '\e800'; } /* '' */
.icon-down-open:before { content: '\e801'; } /* '' */
.icon-left-open:before { content: '\e802'; } /* '' */
.icon-right-open:before { content: '\e803'; } /* '' */
.icon-up-open:before { content: '\e804'; } /* '' */
.icon-down-open-mini:before { content: '\e805'; } /* '' */
.icon-left-open-mini:before { content: '\e806'; } /* '' */
.icon-right-open-mini:before { content: '\e807'; } /* '' */
.icon-up-open-mini:before { content: '\e808'; } /* '' */
.icon-down-open-big:before { content: '\e809'; } /* '' */
.icon-left-open-big:before { content: '\e80a'; } /* '' */
.icon-right-open-big:before { content: '\e80b'; } /* '' */
.icon-up-open-big:before { content: '\e80c'; } /* '' */


/* GGLOBAL STYLES */
body {
    margin: 0;
    padding: 0;
    background: #fff;
    word-wrap: break-word;
    font-family: 'Roboto', sans-serif;
}

a:focus, div:focus, span:focus, input:focus, textarea:focus, button:focus {
	outline: none;
}

a {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #149aca;
    text-decoration: none;
    border-bottom: 1px solid rgba(200, 229, 243, 0.8);
    padding: 0;
    cursor: pointer;
}
a:hover {
    color: #005c97;
    border: none;
}
a:active {
    color: #ff6600;
}
input, textarea, .slider a { outline: none; }
input.error, textarea.error {
    border: 2px solid #ff7200;
    background: url('/phpshop/templates/cat/img/error_point.png') no-repeat 177px 11px scroll transparent;
}
#mailform input.error, textarea.error {
    background-position: 197px 11px;
}
/* FLOAT BLOCKS */
.left {
    float: left;
}

.right {
    float: right;
}

.clr {
    clear: both;
}

.dn {
    display: none !important;
}

/* HEADER */
header {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 1235px; /* 1160px; */
    height: 149px;
    border-bottom: 1px solid #ebebeb;
}

a.header{
	display: block;
	position: absolute;
	width: 240px;
	height: 75px;
	top: 10px;
	text-decoration: none!important;
	border: none!important;
	left: 50%;
	margin-left: -120px;
	background: url('/phpshop/templates/cat/img/logo.png') center 0px no-repeat;
}

a.header:hover {
	background: url('/phpshop/templates/cat/img/logo-hover.png') center 0px no-repeat;
}


.header1 {
    position: relative;
    width: 1235px ; /* 1160px; */
    height: 65px;
}

.header1_l {
    width: 45%;
    height: 34px;
    /*padding: 18px 0 0 10px;*/
    padding: 18px 0 0;
    position: relative;
}

.header1_l a {
    margin: 0 15px;
    font-size: 14px;
    font-weight: 400;
    color: #149aca;
    text-decoration: none;
}
.header1_l a:first-child {
    margin: 0 15px 0 0;
}
.header1_l a:not(.sign_close1):not(.sign_close2):hover {
    color: #005c97;
    text-decoration: none;
    border: none;
}
.header1_l a:not(.sign_close1):not(.sign_close2):active {
    color: #ff6600;
}
#sign_close {
    font-weight: 500;
    color: #000;
    text-decoration: none;
    z-index: 100 !important;
    position: relative;
    display: inline-block;
    line-height: 20px;
    width: 37px;
}

.sign_close1 {
    padding: 2px 23px 2px 7px;
    background: #fff url('/phpshop/templates/cat/img/sign_arrow.png') top right no-repeat;
    border-width: 2px;
    border-color: #f59d42;
    border-style: solid;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2;
}
.sign_close1:hover {
    border: 2px solid #ffba15;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.sign_close2 {
    padding: 3px 24px 7px 8px;
    background: #fff url('/phpshop/templates/cat/img/sign_arrow.png') right -26px no-repeat;
    border: 1px solid #ebebeb;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    border-bottom: none;
}
.sign_close2:hover {
    border: 1px solid #ebebeb;
    border-bottom: none;
}

#sign_signed1 {
    padding: 2px 10px 2px 10px;
    border-width: 2px;
    border-color: #f59d42;
    border-style: solid;
    border-radius: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
	
	font-weight: 500;
    color: #000;
    text-decoration: none;
    z-index: 100 !important;
    position: relative;
    display: inline-block;
    line-height: 20px;
	
	box-shadow: 0px 2px 1px 0px rgba(75, 39, 2, 0.1);
    -moz-box-shadow: 0px 2px 1px rgba(75, 39, 2, 0.1);
    -webkit-box-shadow: 0px 2px 1px rgba(75, 39, 2, 0.1);
}

#sign_signed1:hover {
	border-color: #ffba15;
	background-color: #ffba15;
	color: white;
	
	box-shadow: 0px 2px 5px 0px rgba(75, 39, 2, 0.2);
    -moz-box-shadow: 0px 2px 5px rgba(75, 39, 2, 0.2);
    -webkit-box-shadow: 0px 2px 5px rgba(75, 39, 2, 0.2);
	
	/*Easing*/
    transition: 0.1s ease-in;
    -moz-transition: 0.1s ease-in;
    -webkit-transition: 0.1s ease-in;
    -ms-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
}

#sign_signed1:active {
    border-color: #ed8b00;
	background-color: #ed8b00;
    box-shadow: none;
	color: white;
	
	/*Easing*/
	transition: 0.07s ease-out;
    -moz-transition: 0.07s ease-out;
    -webkit-transition: 0.07s ease-out;
    -ms-transition: 0.07s ease-out;
    -o-transition: 0.07s ease-out;
}

#logout {
	margin-left: 0px;
}

.header1_r {
    width: 45%;
    height: 45px;
    padding: 10px 0 10px 10px;
    color: #000;
    text-align: right;
}

.small {
    font-size: 12px;
    font-weight: 400;
}

.medium {
    font-size: 14px;
    font-weight: 400;
}

.medium2 {
    font-size: 20px;
    font-weight: 400;
}

.header2 {
    width: 1235px ; /* 1160px; */
    height: 39px;
}

.header2_l {
    padding: 5px 0 0;
    position: relative;
    display: block;
}

#city_close {
    font-size: 14px;
    font-weight: 500;
    padding: 4px 23px 4px 7px;
    color: #000;
    text-decoration: none;
    border: 1px solid #c2c2c2;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    /*background: url(/img/sign_arrow.png) top right no-repeat;*/
    display: block;
    width: 137px;
    /*background-color: #ffffff;*/
    white-space: nowrap;
    overflow: hidden;
    height: 20px;
}
#city_close:hover {
    border: 1px solid #ffba15;
}
#city_close.city_close2 {
    border: 1px solid #ebebeb;
}
#city_close:before {
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 28%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 28%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 28%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
    width: 32px;
    position: absolute;
    z-index: 12;
    right: 1px;
    top: 6px;
    bottom: 1px;
    -webkit-border-radius: 0px 2px 2px 0;
    -moz-border-radius: 0px 2px 2px 0;
    border-radius: 0px 2px 2px 0;
    content:"";
}
#city_close.city_close1:after {
    background: #fff url('/phpshop/templates/cat/img/sign_arrow.png') -8px -10px no-repeat;
    position: absolute;
    z-index: 15;
    content:"";
    top: 16px;
    right: 8px;
    width: 9px;
    height: 7px;

}

#city_close.city_close2:after {
    background: #fff url('/phpshop/templates/cat/img/sign_arrow.png') -8px -36px no-repeat;
    position: absolute;
    z-index: 15;
    content:"";
    top: 16px;
    right: 8px;
    width: 9px;
    height: 7px;

}

.header2_r {
    padding: 5px 0 0;
    position: relative;
    right: 0;
}

#call_close {
    position: relative;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    z-index: 100 !important;
    /*height: 28px;*/
    display: block;
}

.header3 {
    width: 1235px ; /* 1160px; */
    text-align: center;
    margin: 0;
    position: relative;
    padding: 0;
}
.header3 li {
    list-style: none;
    display: inline-block;
    height: 40px;
    margin: 0 34px;
    position: relative;
}
.header3 a {
    /*margin: 0 34px;*/
    font-size: 17px;
    font-weight: 600;
    color: #149aca;
    text-decoration: none;
    position: relative;
    display: table-cell;
    height: 40px;
    vertical-align: middle;
    border: none;
	
	/*Easing*/
	transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.header3 li:not(.selected) a:before {
    content: "";
    border-bottom: 1px solid rgba(200, 229, 243, 0.8);
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0; bottom: 7px; right: 0;
}
.header3 a:hover {
    color: #005c97;
    text-decoration: none;
}
.header3 li:not(.selected) a:hover:before {
    border: none;
}
.header3 a:active {
    color: #ff6600;
}


.header3 li.selected a {
    color: #ffffff;
    width: 100%;
}
.header3 li.selected:before {
    content: "";
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 40px;
    margin: 0;
    background-color: #ed8b00;
    z-index: -1;
    border: none;
    left: -20px;
    right: -20px;
    top: 0;
    bottom: 0;
    position: absolute;
    display: block;
}
.sign_close2 {

}
#signin {
    font-size: 13px;
    color: #000;
    font-weight: normal;
    padding: 15px;
    position: absolute;
    width: 194px;
    height: auto;
    border: 1px solid #ebebeb;
    -webkit-border-radius: 0 4px 4px 4px !important;
    -moz-border-radius: 0 4px 4px 4px !important;
    border-radius: 0 4px 4px 4px !important;

    background: #fff;
    top: 48px;
    left: 0;
    display: block;
    box-shadow: 0px 3px 7px 0px rgba(75, 39, 2, 0.1);
    -moz-box-shadow: 0px 3px 7px rgba(75, 39, 2, 0.1);
    -webkit-box-shadow: 0px 3px 7px rgba(75, 39, 2, 0.1);
    z-index: 20;
}

a.pass_sign_button {
	margin-bottom: 10px;
	font-size: 12px!important;
	line-height: 14px!important;
	margin: 0px;
}

.f3 {
    font-size: 14px;
    line-height: 20px;
    color: #000;
    font-weight: normal;
    padding: 5px 15px 5px 10px;
    margin: 5px 0 10px 0;
    border: 2px solid #ff9c00;
    width: 165px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
}
.f3:hover {
    border: 2px solid #ffba15;
    box-shadow: none;
}
textarea.f3 {
    resize: vertical;
}

.f4 {
    margin: 5px 10px 5px 0;
    padding: 5px 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
	line-height: 20px;
    background: #ff9c00;
    border: none;
    box-shadow: 0px 2px 1px 0px rgba(75, 39, 2, 0.1);
    -moz-box-shadow: 0px 2px 1px rgba(75, 39, 2, 0.1);
    -webkit-box-shadow: 0px 2px 1px rgba(75, 39, 2, 0.1);
    font-family: 'Roboto Condensed';
}
#mailform .f4 {
    padding: 8px 10px;
}
.f4:hover {
    background-color: #ffba15;
    box-shadow: 0px 2px 5px 0px rgba(75, 39, 2, 0.2);
    -moz-box-shadow: 0px 2px 5px rgba(75, 39, 2, 0.2);
    -webkit-box-shadow: 0px 2px 5px rgba(75, 39, 2, 0.2);
}

.f4:active {
    background: #ed8b00;
    box-shadow: none;
}

/*#signin span {*/
#err_login_tip {
    line-height: 14px !important;
    color: #fb6e2a;
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    margin-top: 4px;
    width: 100px;
}

#mailform {
    font-size: 13px;
    color: #000;
    font-weight: normal;
    padding: 15px;
    position: absolute;
    width: 214px;
    height: auto;
    border: 1px solid #ebebeb;
    -webkit-border-radius: 4px 0 4px 4px !important;
    -moz-border-radius: 4px 0 4px 4px !important;
    border-radius: 4px 0 4px 4px !important;
    background: #fff;
    top: 35px;
    right: 0;
    /*box-shadow: 2px 2px 3px #DBD4CC;*/
    z-index: 10;

    box-shadow: 0px 3px 7px 0px rgba(75, 39, 2, 0.1);
    -moz-box-shadow: 0px 3px 7px rgba(75, 39, 2, 0.1);
    -webkit-box-shadow: 0px 3px 7px rgba(75, 39, 2, 0.1);
}
#mailform .f3 {
    width: 185px;
 }

#mailform .zag {
    padding: 5px 0 10px 0;
    color: #00c853;
    font-weight: 400;
}

/*#mailform span {*/
#err_callback_tip {
    line-height: 14px !important;
    color: #fb6e2a;
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    width: 220px;
    margin-top: 4px;
}

#cityselect {
    font-size: 14px;
    color: #000;
    font-weight: 400;
    line-height: 20px;
    padding: 0;
    position: absolute;
    left: 0;
    height: auto;
    /*border: 1px solid #ebebeb;*/
    /*border-top: none;*/

    -webkit-border-radius: 0 0 4px 4px !important;
    -moz-border-radius: 0 0 4px 4px !important;
    border-radius: 0 0 4px 4px !important;
    background: #fff;
    top: 32px;
    right: 0;
    /*box-shadow: 2px 2px 3px #DBD4CC;*/
    z-index: 20;
    display: block;
    margin: 0;
    list-style: none;
    width: 169px;

    box-shadow: 0px 3px 7px 0px rgba(75, 39, 2, 0.1);
    -moz-box-shadow: 0px 3px 7px rgba(75, 39, 2, 0.1);
    -webkit-box-shadow: 0px 3px 7px rgba(75, 39, 2, 0.1);
}

#cityselect li {
    padding: 0;
    border-top: 1px solid #ebeff2;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}
#cityselect li:hover {
    border-top: 1px solid #ffba15;
    border-left: 1px solid #ffba15;
    border-right: 1px solid #ffba15;
}
#cityselect li a {
    color: #000;
    text-decoration: none;
    background-color: #ffffff;
    display: block;
    padding: 4px 7px;
    border: none;
}

#cityselect li a:hover,
#cityselect li a:active,
#cityselect li a:focus
{
    background-color: #ffba15;
    color: #ffffff;
}
/* CONTENT */
section {
    margin: 0 auto;
    width: 1235px ; /* 1160px; */
    height: auto;
    position: relative;
}

.section_l {
    width: 290px;
    /*height: auto;*/
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.section_r {
    width: 920px;
    height: auto;
}

/* MENU */
nav {
    margin-bottom: 20px;
    width: 286px;
    height: auto;
    border: 2px solid #c2c2c2;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #fff;
    font-size: 14px;
    font-weight: 400;
    position: relative;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav > ul > li {
    padding: 10px 9px 9px 9px;
    margin: 0;
    border-bottom: 1px solid #ededed;
    /*position: relative;*/
    /*background: url(/img/nav_arrow.png) right top no-repeat;*/
}
nav > ul > li:after {
    font-family: "KotoFoto-Elements";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin: 0;
    text-align: center;
    content: '\e803';
    font-size: 20px;
    padding: 0;
    position: relative;
    right: -7px;
    top: -3px;
    color: #ff9c00;
    float: right;
}
nav ul li:first-child:after {
    content: none;
}
nav ul li:first-child {
    font-size: 20px;
    background: none;
    cursor: auto;
}

nav ul li:last-child {
    border-bottom: none;
}

nav > ul > li:hover {
    color: #fff !important;
    /*background: #F49C41 url(/img/nav_arrow.png) right bottom no-repeat;*/
    background: #F49C41;
    cursor: pointer;
}
nav ul li:hover:after {
    color: #fff;
}
.nav_zag {
    font-size: 20px;
    background: none;
    font-weight: 600;
    padding: 6px 9px;
}
.nav_zag:hover {
    background: none;
    cursor: auto;
    color: #000 !important;
}

.apple {
    /*background: url(/img/nav_apple.png) left top no-repeat;*/
    padding: 10px 9px 9px 33px;
    position: relative;
}
.apple:before {
    font-family: "KotoFoto-Elements";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin: 0;
    text-align: center;
    content: '\e800';
    color: #7f7f7f;
    font-size: 19px;
    padding: 0;
    position: absolute;
    left: 9px;
    top: 6px;
}
.apple:hover {
    /*background: #F49C41 url(/img/nav_apple.png) left bottom no-repeat;*/
    padding: 10px 9px 9px 33px;
}
.apple:hover:before {
    color: #ffffff;
}
.superprice {
    /*background: url(/img/nav_superprice.png) left top no-repeat;*/
    padding: 10px 9px 9px 33px;
    position: relative;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
.superprice:before {
    font-family: "MS Sans Serif", Geneva, sans-serif;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin: 0;
    text-align: center;
    content: '%';
    color: #ff9c00;
    font-size: 19px;
    padding: 0;
    position: absolute;
    left: 9px;
    top: 8px;
    font-weight: 600;
}
.superprice:hover {
    /*background: #F49C41 url(/img/nav_superprice.png) left bottom no-repeat;*/
    padding: 10px 9px 9px 33px;
}
.superprice:hover:before {
    color: #ffffff;
}
nav ul li ul {
    display: none;
    position: absolute;
    top: 0;
    left: 286px;
    list-style: none;
    background: #fff;
    border: 2px solid #F49C41;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

nav ul li:hover > ul {
    display: block;
    margin: 0;
	/*padding: 0;*/
	
	/*Easing*/
	transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

nav ul li ul li,
nav ul li ul li:hover {
    /*background: #fff;*/
    cursor: auto;
}

.nav_submenu {
    padding: 35px 40px;
    width: 888px;
    height: auto;
    top: -2px;
    color: #000;
    z-index: 29;
}

.nav_submenu:hover {
    cursor: auto;
}
.nav_submenu a {
    font-size: 18px;
    font-weight: 600;
    color: #149aca;
    text-decoration: underline;
}
.nav_submenu .nav_submenu_zag a {
    /*padding: 0 20px 0 34px;*/
    position: relative;
    text-decoration: none;
}
.nav_submenu .nav_submenu_zag a:after {
    position: absolute;
    right: -0.7em;
    top: 1px;
    font-family: "KotoFoto-Elements";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    /*width: 1em;*/
    margin: 0;
    text-align: center;
    content: '\e803';
    color: #ff9c00;
    font-size: 20px;
    text-decoration: none;
}



.nav_submenu a:hover {
    color: #005c97;
    text-decoration: none;
	border: none;
	
	/*Easing*/
	transition: 0.1s ease-in;
    -moz-transition: 0.1s ease-in;
    -webkit-transition: 0.1s ease-in;
    -ms-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
}

.nav_submenu a:not(hover) {
	/*Easing*/
	transition: 0.1s ease-out;
    -moz-transition: 0.1s ease-out;
    -webkit-transition: 0.1s ease-out;
    -ms-transition: 0.1s ease-out;
    -o-transition: 0.1s ease-out;
}

.nav_column {
    padding: 0 36px 0 8px;
    width: 251px;
}

.nav_column a {
    font-size: 13px;
    font-weight: 500;
    /*background: url(/img/submeenu_dot.png) left center no-repeat;*/
    margin: 0;
    padding: 0;
    text-decoration: none;
    position: relative;
}

.nav_column a:not(first-child):before {
    position: absolute;
    top: 7px;
    left: -8px;
    display: block;
    width: 4px;
    height: 4px;
    background: url('/phpshop/templates/cat/img/submeenu_dot.png') 0 0 no-repeat scroll transparent;
    content: "";
}

.nav_column a:first-child {
    font-size: 14px;
    font-weight: 600;
    background: none;
    padding: 0;
}
.nav_column a:active {
    color: #ff6600;
}
/* LEFT COLUMN */
.logos {
    padding: 15px 15px 16px 15px;
    width: 258px;
    /*height: 528px;*/
    height: 593px;
    border: 1px solid #ebebeb;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.logos_zag {
    /*padding: 0 0 20px 20px;*/
    height: 45px;
    padding: 0 0 0 20px;
    font-size: 20px;
    font-weight: 600;
    color: #149aca;
    text-decoration: underline;
}
.logos_items {
    height: 548px;
}

.logos_items img {
    padding: 0 0 10px;
    margin: 0;
    float: left;
}
.logos_items img:nth-last-child(2-n) {
    padding: 0;
}
.catalog {
    display: block;
    border: 2px solid #F49C41;
    padding: 6px 15px;
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    background: #fff url('/phpshop/templates/cat/img/index1_arrow1.png') 230px center no-repeat;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/* RIGHT COLUMN */
.find {
    width: 920px ; /* 870px; */;
    margin-bottom: 20px;
}

textarea: -moz-placeholder {
	color: #c2c2c2;
}

textarea::-webkit-input-placeholder {
	color: #c2c2c2;
}

.find1 {
    width: 760px;
    height: 18px;
    margin: 0;
    padding: 8px 15px;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    border: 2px solid #F49C41;
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;
    border-right: 0;
}

.find2 {
    margin: 0 0 0 -4px;
    padding: 0px 12px 0px 33px;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
    color: #fff;
    font-size: 18px;
    height: 38px;
    font-weight: 500;
    background: #ff9c00 url('/phpshop/templates/cat/img/find.png') 20px center no-repeat;
    border: none;
    box-shadow: 0px 2px 1px 0px rgba(75, 39, 2, 0.1);
    -moz-box-shadow: 0px 2px 1px rgba(75, 39, 2, 0.1);
    -webkit-box-shadow: 0px 2px 1px rgba(75, 39, 2, 0.1);
    width: 128px;
	
	/*Easing*/
	transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.find2:hover {
    background: #ffba15 url('/phpshop/templates/cat/img/find.png') 20px center no-repeat;
    cursor: pointer;
	box-shadow: 0px 2px 5px 0px rgba(75, 39, 2, 0.2);
    -moz-box-shadow: 0px 2px 5px rgba(75, 39, 2, 0.2);
    -webkit-box-shadow: 0px 2px 5px rgba(75, 39, 2, 0.2);
}

.find2:active {
    background: #ed8b00 url('/phpshop/templates/cat/img/find.png') 20px center no-repeat;
    cursor: pointer;
    box-shadow: none;
}

.slider {
    width: 920px ; /* 870px; */;
    height: 390px;
}
.slider_box {
    width: 710px;
    height: 390px;
    float: left;
}
.slider_box ul {
    padding: 0;
    margin: 0;
}
.slider_box ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
    width: 710px;
    height: 330px;
}
.added_button_block {
    width: 185px;
    height: 390px;
    float: right;
}
.slider_img {
    width: 710px ; /* 870px; */;
    height: 330px;
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px;

    overflow: hidden;
    background: #ebebeb;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.slider_nav {
    width: 710px ; /* 870px; */;
    height: 60px;
    position: relative;
}
.slider_nav .slider_tabs {
    width: 630px;
    /*border-bottom: 1px solid #ebebeb;*/
    position: absolute;
    left: 40px;
    top: 0;
    height: 60px;
    overflow: hidden;
    padding: 0;
}
.slider_nav.four .slider_tabs {
    width: 628px;
    left: 41px;
}
.slider_nav .slider_tabs .tab {
    float: left;
    margin: 0;
    padding: 8px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    color: #000000;
    cursor: pointer;
    display: block;
    height: 43px;
    /*width: 141px;*/
    text-align: left;
    position: relative;
    border-bottom: 1px solid #ebebeb;
    /*border-right: 1px solid #ebebeb;*/
}
.slider_nav .slider_tabs .tab:not(:first-child):before {
    position: absolute;
    left: -1px;
    top: 0;
    width: 1px;
    height: 60px;
    border-right: 1px solid #ebebeb;
    content: "";
    z-index: -1;
}

.slider_nav .slider_tabs .tab:hover {
    background: #ffba15;
    color: #ffffff;
    border-bottom: 1px solid #ffba15;
    /*border-right: 1px solid #ebebeb;*/
	
	/*Easing*/
    transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
}
.slider_nav .slider_tabs .tab:active,
.slider_nav .slider_tabs .tab.flex-active-slide {
    background: #ed8b00;
    color: #ffffff;
    border-bottom: 1px solid #ed8b00;
	
	/*Easing*/
    transition: 0.07s ease-out;
    -moz-transition: 0.07s ease-out;
    -webkit-transition: 0.07s ease-out;
    -ms-transition: 0.07s ease-out;
    -o-transition: 0.07s ease-out;
}

.slider_nav #s-next,
.slider_nav #s-prev {
    display: block;
    width: 38px;
    height: 59px;
    border-left: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    position: relative;

    font-family: "KotoFoto-Elements";
    font-size: 58px;
    font-weight: normal;
    font-style: normal;
    color: #ff9c00;
    text-decoration: none;
    display: block;
    text-align: center;
    vertical-align: middle;
    line-height: 58px;
}
.slider_nav.four #s-next,
.slider_nav.four #s-prev {
    width: 39px;
}
.slider_nav #s-prev {
    -webkit-border-radius: 0 0 0 6px;
    -moz-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}
.slider_nav #s-next {
    -webkit-border-radius: 0 0 6px 0;
    -moz-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}
.slider_nav #s-prev:hover,
.slider_nav #s-next:hover {
    line-height: 54px;
    width: 36px;
    height: 56px;
    border: 2px solid #ffba15;
}
.slider_nav.four #s-prev:hover,
.slider_nav.four #s-next:hover {
    width: 37px;
}
.slider_nav #s-prev:active,
.slider_nav #s-next:active {
    line-height: 54px;
    border: 2px solid #ed8b00;
    color: #ed8b00;
}

.slider1 {
    margin-top: 20px;
    width: 918px ; /* 868px; */
    height: 460px;
    border: 1px solid #ebebeb;
    border-bottom: none;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.slider1a, .slider2a , .slider3a {
    padding: 0;
}

.slider1a_prev {
    width: 50px;
    height: 242px;
    padding: 118px 0 0 0;
    margin: 0 29px 0 0;
}

.added_button {
    width: 183px;
    height: 114px;
    border: 1px solid #a2a2a2;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #ebebeb;
    margin: 0 0 21px 0;
}
.added_button a {
    border: 0;
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
}
#s1anext, #s1aprev, #s2anext, #s2aprev , #s3anext, #s3aprev {
    display: block;
    width: 48px;
    height: 78px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #ebebeb;
    position: relative;
}
#s1anext, #s2anext, #s3anext {
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;
    right: -1px;
    width: 49px;
}
#s1aprev, #s2aprev, #s3aprev {
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
    left: -1px;
}
#s1anext, #s2anext, #s3anext {
    /*background: url(/img/s1anext.png) center center no-repeat;*/
    font-family: "KotoFoto-Elements";
    font-size: 54px;
    font-weight: normal;
    font-style: normal;
    color: #ff9c00;
    text-decoration: none;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#s1aprev, #s2aprev, #s3aprev {
    /*background: url(/img/s1aprev.png) center center no-repeat;*/
    font-family: "KotoFoto-Elements";
    font-size: 54px;
    font-weight: normal;
    font-style: normal;
    color: #ff9c00;
    text-decoration: none;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#s1anext:hover, #s1aprev:hover, #s2anext:hover, #s2aprev:hover, #s3anext:hover, #s3aprev:hover  {
    /*display: block;*/
    width: 49px;
    height: 76px;
    border: 2px solid #ffba15;
}
#s1aprev:hover, #s2aprev:hover, #s3aprev:hover {
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
    /*border-left-width: 1px;*/
}
#s1anext:hover, #s2anext:hover, #s3anext:hover {
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;
    /*border-right-width: 1px;*/
    right: -1px;
}
#s1anext:active, #s2anext:active, #s3anext:active {
    /*background: url(/img/s1anext1.png) center center no-repeat;*/
    border: 2px solid #ed8b00;
    /*border-right-width: 1px;*/
    right: -1px;
    color: #ed8b00;
}

#s1aprev:active, #s2aprev:active, #s3aprev:active {
    /*background: url(/img/s1aprev1.png) center center no-repeat;*/
    border: 2px solid #ed8b00;
    /*border-left-width: 1px;*/
    color: #ed8b00;
}

.slider1a_cont, .slider2a_cont, .slider3a_cont {
    width: 770px;
    height: 360px;
    position: relative;
    overflow: hidden;
    padding: 10px;
}

.slider1a_cont > div, .slider2a_cont > div, .slider3a_cont > div {
    width: auto;
    display: block;
    position: relative;
    height: 360px;

}
.slider1a_cont > div > .left, .slider2a_cont > div > .left, .slider3a_cont > div > .left  {
    float: none;
    display: inline-block;
}
#slide1, #slide2, #slide3, #slide4, #slide5, #slide6 {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

#slide1, #slide3, #slide3, #slide4, #slide5, #slide6 {
    z-index: 20;
}

.main_tovar {
    margin: 0 35px 0 0;
	border-width: 1px;
    border-color: rgb(236, 239, 241);
    border-style: solid;
    width: 228px;
    height: 358px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    /*overflow: hidden;*/
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}
.main_tovar:hover{
	/*border-width: 1px;
	border-color: #ffba15;
	border-style: solid;*/
	
	border-width: 1px;
    border-color: rgb(236, 239, 241);
    border-style: solid;
	
    /*margin: 0 34px 0 0;*/
    /*width: 226px;*/
    /*height: 356px;*/
	
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
	
	/*Easing*/
	transition: 0.1s ease-in;
    -moz-transition: 0.1s ease-in;
    -webkit-transition: 0.1s ease-in;
    -ms-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
}

.main_tovar:not(hover){
    border: 1px solid #ebebeb;
	
	/*Easing*/
	transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
}
.main_tovar:last-child {
    margin: 0;
}
.main_tovar:last-child:hover {
    margin: -1px -1px -1px -1px;
}
.main_tovar_img {
    width: 228px;
    height: 175px;
}

.main_tovar_img a {
	width: 100%;
	height: 100%;
	display: block;
}

.main_tovar_zag {
    padding: 10px 20px 10px 20px;
    width: 188px;
    height: 70px;
    background: #fafafa;
    border-top: 1px solid #ebebeb
}

.main_tovar_zag a {
    font-size: 13px;
	line-height: 13px !important;
    font-weight: 400;
    color: #149aca;
    text-decoration: none;
}

.main_tovar_zag a:hover {
    color: #005c97;
    text-decoration: none;
	
	/*Easing*/
	transition: 0.1s ease-in;
    -moz-transition: 0.1s ease-in;
    -webkit-transition: 0.1s ease-in;
    -ms-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
}
.main_tovar_zag a:active {
    color: #ff6600;
}

.main_tovar_zag a:not(hover){
	/*Easing*/
	transition: 0.1s ease-out;
    -moz-transition: 0.1s ease-out;
    -webkit-transition: 0.1s ease-out;
    -ms-transition: 0.1s ease-out;
    -o-transition: 0.1s ease-out;
}

.main_tovar_price {
    padding: 0 20px;
    width: 188px;
    height: 40px;
    background: #fafafa;
    color: #000;
    font-size: 30px;
    font-weight: 600;
}

.main_tovar_price span {
    font-weight: 500
}

.main_tovar_pay {
    padding: 10px 20px 18px;
    width: 188px;
    height: 30px;
    background: #fafafa;
}

.main_tovar_pay a {
    font-family: "Roboto Condensed";
    font-size: 18px;
	line-height: 20px;
	height: 30px;
    padding: 5px 20px;
    color: #fff;
    text-decoration: none;
    background: #ff9c00;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: 0px 2px 1px 0px rgba(75, 39, 2, 0.1);
    -moz-box-shadow: 0px 2px 1px rgba(75, 39, 2, 0.1);
    -webkit-box-shadow: 0px 2px 1px rgba(75, 39, 2, 0.1);
}

.main_tovar_pay a:hover {
    background-color: #ffba15;
    box-shadow: 0px 2px 5px 0px rgba(75, 39, 2, 0.2);
    -moz-box-shadow: 0px 2px 5px rgba(75, 39, 2, 0.2);
    -webkit-box-shadow: 0px 2px 5px rgba(75, 39, 2, 0.2);
	
	/*Easing*/
    transition: 0.1s ease-in;
    -moz-transition: 0.1s ease-in;
    -webkit-transition: 0.1s ease-in;
    -ms-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
}

.main_tovar_pay a:active {
    background: #ed8b00;
    box-shadow: none;
	
	/*Easing*/
    transition: 0.07s ease-out;
    -moz-transition: 0.07s ease-out;
    -webkit-transition: 0.07s ease-out;
    -ms-transition: 0.07s ease-out;
    -o-transition: 0.07s ease-out;
}

.slider1a_next {
    width: 50px;
    height: 242px;
    padding: 118px 0 0 0;
    /*margin: 0 0 0 29px;*/
    margin: 0;
}

.slider2 {
    width: 918px ; /* 868px; */
    height: 460px;
    border: 1px solid #ebebeb;
  /*-webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;*/
}

.slider3 {
    width: 918px ; /* 868px; */
    height: 460px;
    border: 1px solid #ebebeb;
	border-top: 0px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.slider_zag {
    padding: 20px;
    color: #000;
    font-size: 20px;
    font-weight: 600;
}

#news {
    margin-top: 20px;
    padding: 24px;
    height: 200px;
    width: 1183px;
    border: 1px solid #ebebeb;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden;
}

#brands {
    margin-top: 20px;
    padding: 24px 24px 0px 24px;
    height: 210px;
    width: 1183px;
    border: 1px solid #ebebeb;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#brands div.logo a {
	width: 100%;
	height: 100%;
	display: block;
	text-decoration: none;
	border: 0px;
}

.logo {
	display: inline-block;
	width: 110px;
	height: 50px;
	background-attachment: scroll;
	background-color: #fff;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0px 10px 24px 10px;
}

.news_zag {
    padding: 0 0 20px 0px;
    text-decoration: none;
}

.news {
    width: 370px;
    margin: 0;
	/*overflow-y: hidden;*/
	height: 175px;
	text-overflow: ellipsis;
}

.news_zag1 {
	margin-bottom: 10px;
}

.news_theme {
    padding: 0 0 20px 0px;
	margin-top: -44px;
}

.news_theme a, .news_zag a {
	font-size: 20px!important;
    font-weight: 600!important;
    color: #149aca!important;
    text-decoration: none!important;
    border-bottom: 1px solid rgba(200, 229, 243, 0.8)!important;
    padding: 0!important;
    cursor: pointer!important;
}

.news_theme a:hover {
    color: #005c97!important;
    border: none!important;
}

.news_zag a:hover {
	color: #005c97!important;
    border: none!important;
}

.news_theme a:active {
    color: #ff6600!important;
}

.news_zag a:active {
    color: #ff6600!important;
}

/*
.news_theme span {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    background: #ff9c00;
    padding: 5px 10px;
}
*/

.news_zag1 a {
    font-size: 14px;
    font-weight: 400;
    color: #149aca;
    text-decoration: none;
    line-height: 20px;
	/*overflow-y: hidden;*/
}

.news_zag1 a:hover {
    color: #005c97;
    text-decoration: none;
}
.news_zag1 a:active {
    color: #ff6600;
}
.news_text {
    font-size: 12px;
    font-weight: normal;
    color: #000;
    line-height: 20px;
}

.news_text span {
    font-size: 12px;
    font-weight: normal;
	display: block;
    color: #888;
    line-height: 20px;
	margin: 10px 0 0 0;
}

#cat {
    width: 1235px ; /* 1160px; */
    height: 210px;
    margin: 0 auto;
    margin-bottom: 30px;
    overflow: hidden;
}

.cat1 {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 2px solid #ebebeb;
    width: 173px;
    height: 206px;
    margin-right: 19px;
}

.cat1:last-child {
    margin-right: 0;
}

.cat1:hover {
    border: 2px solid #ff9c00;
    cursor: pointer;
}

.cat_name1 {
    padding: 20px 20px 0 20px;
    height: 70px;
    color: #ff9c00;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}

.cat_img {
    text-align: center;
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
}

#podbor {
    width: 1235px ; /* 1160px; */
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ebebeb
}

.podbor_zag {
    color: 000;
    font-weight: 500;
    font-size: 30px;
    padding: 0 0 15px 0;
}

.podbor_comment {
    color: 000;
    font-weight: 500;
    font-size: 16px;
    padding: 0 0 25px 0;
}

.podbor_links {
    height: auto;
}

.podbor_links a {
    padding: 10px 25px;
    border: 2px solid #ebebeb;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #ff9c00;
    font-size: 16px;
    font-weight: 500;
    margin-right: 25px;
    text-decoration: none;
}

.podbor_links a:hover {
    border: 2px solid #ff9c00
}

/* FOOTER */
footer {
    margin: 0 auto;
    margin-top: 20px;
    width: 1235px ; /* 1160px; */
    height: 145px;
}

.footer1 {
    width: 1235px ; /* 1160px; */
    height: 110px;
}

.footer1a {
    width: 700px;
    text-align: left;
}

.footer1a div {
    width: 160px;
    height: auto;
}

.footer1a a {
    font-size: 12px;
    font-weight: normal;
    color: #149aca;
    text-decoration: none;
    line-height: 20px;
	
	/*Easing*/
	transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.footer1a a:hover {
    color: #005c97;
    border: none;
}
.footer1a a:active {
    color: #ff6600;
}
.footer1b {
    width: 350px;
    text-align: right;
}

.footer1b img {
    margin-left: 30px;
}

.footer2 {
    font-size: 12px;
    font-weight: normal;
    color: #888;
    line-height: 20px;
    margin: 0 0 20px 0;
}

/* STYLES OF EFFECTS */

/* POPUPS */


.header1_l #shadow_login {
    display: none;
    z-index: 9;
    width: 65px;
    height: 24px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position: absolute;
    top: 18px;
    left: 0;
    box-shadow: 0px 3px 7px 0px rgba(75, 39, 2, 0.1);
    -moz-box-shadow: 0px 3px 7px rgba(75, 39, 2, 0.1);
    -webkit-box-shadow: 0px 3px 7px rgba(75, 39, 2, 0.1);
}

.header1_1 a{
	/*Easing*/
	transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.header2_r #shadow_mail {
    display: none;
    z-index: 9;
    width: 123px;
    height: 24px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position: absolute;
    top: 5px;
    left: 0;
    box-shadow: 0px 3px 7px 0px rgba(75, 39, 2, 0.1);
    -moz-box-shadow: 0px 3px 7px rgba(75, 39, 2, 0.1);
    -webkit-box-shadow: 0px 3px 7px rgba(75, 39, 2, 0.1);
}

.header2_l #shadow_city {
    display: none;
    z-index: 9;
    width: 169px;
    height: 30px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position: absolute;
    top: 5px;
    left: 0;
    box-shadow: 0px 3px 7px 0px rgba(75, 39, 2, 0.1);
    -moz-box-shadow: 0px 3px 7px rgba(75, 39, 2, 0.1);
    -webkit-box-shadow: 0px 3px 7px rgba(75, 39, 2, 0.1);
}



.slider_img ul li {
    position: relative;
}

.slider_img ul li span {
    position:absolute;
    bottom: 10px;
    right: 10px;
    font-size: 40px;
    color: #ffffff;

    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}

.rouble {
	font-family: 'als_rublregular';
	font-size: 0.9em;
	color: inherit;
}

.bonus_widget {
	width: 1205px; /* 1160px; */
	margin: 20px auto;
	padding: 5px 10px 5px 20px!important;
	background-color: #fff9c4;
	border: 1px solid #fff9c4;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
    box-shadow: 0px 2px 1px 0px rgba(75, 39, 2, 0.1);
    -moz-box-shadow: 0px 2px 1px rgba(75, 39, 2, 0.1);
    -webkit-box-shadow: 0px 2px 1px rgba(75, 39, 2, 0.1);
}

.bonus_widget p{border:0px solid red;margin:0;padding:0;}

.bonus_widget a {
	line-height: 24px;
	padding-right: 24px;
	background-image: url('/phpshop/templates/cat/images/box_blue_widget.png');
	background-repeat: no-repeat;
	background-position: right top 5px;
	font-family: 'Roboto'!important;
	font-style: normal!important;
	font-weight: 400!important;
	font-size: 22px!important;
	color: #149aca;
        border:0;
}

.bonus_widget a:hover {
	color: #ff7200;
}

.bonus_widget a.close_modal_widget {
	float: right;
	position: relative;
	margin: 0;
	padding: 0;
	right: 4px;
	top: 1px;
	width: 18px;
	height: 24px;
	cursor: pointer;
	background-image: url('/phpshop/templates/cat/images/close_widget.png');
	background-repeat: no-repeat;
	background-position: right top 4px;
	border: 0px solid red;
}
#cartwindow{position:fixed;right:10px;bottom:250px;width:195px;height:161px;z-index:5;visibility:hidden;}
#basket{position:fixed;bottom:10px;right:8px;z-index:5;cursor:pointer;}
#num{float:right;text-align:right;color:#804512;font-size:20px;padding-right:25px;margin-top:-28px;}
.basket{background:url('/phpshop/templates/cat/images/bottom_basket.png') right bottom no-repeat;height:92px;width:314px;text-align:right;}
.basket a, .basket span{font-size:20px;text-decoration:none;color:#FFF;}
.sum_basket{margin-top:24px;padding-right:10px;}
.sum_basket a{text-decoration:none!important;border:0;}
